{% extends 'base.html' %} {% load static %} {% block header %}
<title>main</title>
<body style="background-color: #9902be">
  <div id="tokenValue" style="color: #9902be">{{ idToken }}</div>
</body>
{% endblock %} {% block contents %}
<script>
  // window.onload = () => {
  let token = document.querySelector("#tokenValue").innerHTML;
  // $.ajax({
  //  url: "http://10.210.96.142:3000/kakaoLogin/",
  //  type: "GET",
  //  async: false,
  // data: { idToken: token },
  //  success: function(data) {}
  //  });
  const TARGET_URL = "http://10.210.96.142:3000/kakaoLogin?idToken=" + token;
  location.href = TARGET_URL;
  // };
</script>
{% endblock %}
